.wrapper {
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  background-color: white;
  flex-grow: 1;
  height: 100%;
}

.header {
  font-size: 5rem;
  color: #34d399;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.subheader {
  font-family: "Montserrat", sans-serif;
  padding: 0.6rem;
  color: #059669;
  font-weight: 600;
  border-radius: 0.4rem;
  font-style: italic;
  font-size: 0.8rem;
}

.notes__wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 3rem;
  gap: 1rem;
}

.notes__item {
}
