@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  animation: all ease 0.2s;
  background-color: "#FAFBFC";
  font-family: "Open Sans", sans-serif;
}

:root {
  background-color: "#FAFBFC";
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100vw;
}

input {
  all: unset;
}
